<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/store.css">
    <script src="https://kit.fontawesome.com/8f9a0fa77a.js" crossorigin="anonymous"></script>
    <title>Store courses</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo"><img class="logo-info" src="img/logo4.png" alt=""></div>
            <div class="hamburguer"></div>
            <ul class="menu">
                <li><a href="#">Carrinho</a></li>
                <li><a href="#">Cursos</a></li>
                <li><a href="index.html">Sair</a></li>
            </ul>
        </div>
    </header>

    <div class="container">
        <div class="content">
            <div class="first-column">
                <img class="img-home" src="img/home.jpg" alt="">
            </div>
            <div class="second-column">
                <h1 class="title">Escolha seu curso!</h1><br><br>
                <h3 class="title-second">Plataforma de Cursos Online </h3>
                <p class="title-text">Nos últimos anos, as platafomas infogeneses têm crescido muito, compre
                    agora seu curso!
                </p>
                <p></p>
            </div>
        </div>
    </div>
    
    <div class="content-body">
        <div class="search">
            <form class="form">
                <label class="label-input icon-modify" for="">
                    <input type="Name" placeholder="Buscar cursos">
                </label>
                
            </form>
            <button class="btn-search">Buscar</button>
        </div>

     
        
        <section class="curso-section">
            <div class="box-section">
                <img src="img/photo-curso.jpg" alt=""/>
                <h3 class="title-curso">product 01</h3>
                <p>Valor R$</p>
                <button class="btn">Comprar</button>
            </div>
            <div class="box-section">
                <img src="img/photo-curso.jpg" alt=""/>
                <h3 class="title-curso">product 01</h3>
                <p>Valor R$</p>
                <button class="btn">Comprar</button>
            </div>
            <div class="box-section">
                <img src="img/photo-curso.jpg" alt=""/>
                <h3 class="title-curso">product 01</h3>
                <p>Valor R$</p>
                <button class="btn">Comprar</button>
            </div>
        </section>
    </div>
    

<script src="js/script.js"></script>    
</body>
</html>